<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/banner/02/main.css">
    <script type="text/javascript" src="../../../js/banner/02/banner.js"></script>
	<title>产品展示效果</title>
</head>
<body>
	<div id="automation">
		<div class="prevDiv"></div>
		<a class="prev" href="javascript:;">
			<span class="ico1"></span>
			<span class="ico"></span>
			<span class="txt"></span>
		</a>
		<div class="nextDiv"></div>
		<a class="next" href="javascript:;">
			<span class="ico1"></span>
			<span class="ico"></span>
			<span class="txt"></span>
		</a>

		<div class="line"></div>

		<ul>
			<li class="pos-0"><a href="javascript:;"><img width="100" src="/images/banner/8.jpg" alt=""></a></li>
			<li class="pos-1"><a href="javascript:;"><img width="270" src="/images/banner/1.jpg" alt=""></a></li>
			<li class="pos-2"><a href="javascript:;"><img width="510" src="/images/banner/2.jpg" alt=""></a></li>
			<li class="pos-3"><a href="javascript:;"><img width="680" src="/images/banner/3.jpg" alt=""></a></li>
			<li class="pos-4"><a href="javascript:;"><img width="510" src="/images/banner/4.jpg" alt=""></a></li>
			<li class="pos-5"><a href="javascript:;"><img width="270" src="/images/banner/5.jpg" alt=""></a></li>
			<li class="pos-6"><a href="javascript:;"><img width="270" src="/images/banner/6.jpg" alt=""></a></li>
			<li class="pos-6"><a href="javascript:;"><img width="270" src="/images/banner/7.jpg" alt=""></a></li>
		</ul>
	</div>
	
</body>
</html>