<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/date/01/main.css">
	<link rel="stylesheet" type="text/css" href="../../../css/date/01/bootstrap/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../../css/date/01/bootstrap/bootstrap-theme.min.css" media="all">
    <link rel="stylesheet" href="../../../css/date/01/bootstrap/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../../css/date/01/bootstrap/datetimepicker.css" media="all">
	<!-- 日期date start -->
    <script type="text/javascript" src="../../../js/date/01/date.js"></script>
    <!-- date end -->
	<title>全日历</title>
</head>
<body>
	<!-- 日期 start-->
    <div class="wrap">
        <div class="cale-wrap">
            <div id="calendar" class="calendar">
                <input type="text" size="16" id="input" value="2016-08-11" readonly="" class="form-control">
            </div>
        </div>
        <div style="display: none;">
            <div id="div" class="cale"></div>
            <button id="btn"></button>
        </div>
    </div>
    <!-- 日期 end-->
</body>
</html>