<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/other/03/main.css">
    <script type="text/javascript" src="../../../js/other/03/star.js"></script>
	<title>星级评价</title>
</head>
<body>
	<!--星级评分系统  start-->
    <div class="wrap">
        <div id="star" class="clearfix">
            <span>评分：</span>
            <ul>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
                <li><a href="javascript:;"></a></li>
            </ul>
            <span></span>
            <p></p>
        </div>
    </div>
    <!--星级评分系统  end-->
</body>
</html>