.picScroll-left
{
    position: relative;

    overflow: hidden;

    width: 450px;

    border: 1px solid #ccc;
}

.picScroll-left .hd
{
    overflow: hidden;

    height: 30px;
    padding: 0 10px;

    background: #f4f4f4;
}

.picScroll-left .hd .prev,
.picScroll-left .hd .next
{
    display: block;
    float: right;
    overflow: hidden;

    width: 5px;
    height: 9px;
    margin-top: 10px;
    margin-right: 5px;

    cursor: pointer;

    background: url('/images/dot/arrow.png') no-repeat;
}

.picScroll-left .hd .next
{
    background-position: 0 -50px;
}

.picScroll-left .hd .prevStop
{
    background-position: -60px 0;
}

.picScroll-left .hd .nextStop
{
    background-position: -60px -50px;
}

.picScroll-left .hd ul
{
    float: right;
    overflow: hidden;
    zoom: 1;
    zoom: 1;

    margin-top: 10px;
}

.picScroll-left .hd ul li
{
    float: left;
    overflow: hidden;

    width: 9px;
    height: 9px;
    margin-right: 5px;

    cursor: pointer;
    text-indent: -999px;

    background: url('/images/dot/icoCircle.gif') 0 -9px no-repeat;
}

.picScroll-left .hd ul li.on
{
    background-position: 0 0;
}

.picScroll-left .bd
{
    padding: 10px;
}

.picScroll-left .bd ul
{
    overflow: hidden;
    zoom: 1;
}

.picScroll-left .bd ul li
{
    float: left;
    overflow: hidden;

    margin: 0 8px;

    text-align: center;

    _display: inline;
}

.picScroll-left .bd ul li .pic
{
    text-align: center;
}

.picScroll-left .bd ul li .pic img
{
    display: block;

    width: 120px;
    height: 90px;
    padding: 2px;

    border: 1px solid #ccc;
}

.picScroll-left .bd ul li .pic a:hover img
{
    border-color: #999;
}

.picScroll-left .bd ul li .title
{
    line-height: 24px;
}
