<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/banner/05/main.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_159034_5k4bu2tb6hl4n29.css">
    <script type="text/javascript" src="../../../js/banner/05/banner.js"></script>
    <title>仿腾讯幻灯片效果</title>
</head>

<body>
    <div id="turn" class="turn">
        <div class="turn-loading"></div>
        <ul class="turn-pic">
            <li><a href=""><img src="/images/banner/1.jpg" alt=""></a></li>
            <li><a href=""><img src="/images/banner/2.jpg" alt=""></a></li>
            <li><a href=""><img src="/images/banner/3.jpg" alt=""></a></li>
            <li><a href=""><img src="/images/banner/4.jpg" alt=""></a></li>
        </ul>
    </div>
</body>

</html>