<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/other/02/main.css">
	<title>榜单</title>
</head>
<body>
	<!--榜单  start-->
    <div class="wrap" id="inner">
        <div class="billboard billboard-box">
            <div class="billboard-head">
                <div class="billboard-head-tab check">
                    <strong>安卓</strong> 风云榜
                </div>
                <div class="billboard-head-tab">
                    <strong>IOS</strong> 风云榜
                </div>
            </div>
            <div class="gamerank-list">
                <ul>
                    <li class="gamerank-list-item hover">
                        <div class="brief">
                            <span class="number">1</span>
                            <a class="name" href="#">魔力宝贝（风靡亚洲）</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183324</strong></p>
                                    <p class="type">网络游戏</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="gamerank-list-item">
                        <div class="brief">
                            <span class="number">2</span>
                            <a class="name" href="#">去吧，比卡丘</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183323</strong></p>
                                    <p class="type">手游</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="gamerank-list-item">
                        <div class="brief">
                            <span class="number">3</span>
                            <a class="name" href="#">刀塔传奇</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183315</strong></p>
                                    <p class="type">网络游戏</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="gamerank-list-item">
                        <div class="brief">
                            <span class="number">4</span>
                            <a class="name" href="#">剑魂之刃</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183310</strong></p>
                                    <p class="type">网络游戏</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="gamerank-list-item">
                        <div class="brief">
                            <span class="number">5</span>
                            <a class="name" href="#">海岛奇兵</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183300</strong></p>
                                    <p class="type">手机游戏</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="gamerank-list-item">
                        <div class="brief">
                            <span class="number">6</span>
                            <a class="name" href="#">时空猎人</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183290</strong></p>
                                    <p class="type">手游</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="gamerank-list">
                <ul style="display: none;">
                    <li class="gamerank-list-item hover">
                        <div class="brief">
                            <span class="number">1</span>
                            <a class="name" href="#">时空猎人</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183324</strong></p>
                                    <p class="type">网络游戏</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="gamerank-list-item">
                        <div class="brief">
                            <span class="number">2</span>
                            <a class="name" href="#">王者荣耀</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183323</strong></p>
                                    <p class="type">手游</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="gamerank-list-item">
                        <div class="brief">
                            <span class="number">3</span>
                            <a class="name" href="#">阴阳师</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183315</strong></p>
                                    <p class="type">网络游戏</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="gamerank-list-item">
                        <div class="brief">
                            <span class="number">4</span>
                            <a class="name" href="#">剑魂之刃</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183310</strong></p>
                                    <p class="type">网络游戏</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="gamerank-list-item">
                        <div class="brief">
                            <span class="number">5</span>
                            <a class="name" href="#">海岛奇兵</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183300</strong></p>
                                    <p class="type">手机游戏</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="gamerank-list-item">
                        <div class="brief">
                            <span class="number">6</span>
                            <a class="name" href="#">刀塔传奇</a>
                        </div>
                        <div class="detail">
                            <a href="#">
                                <img class="pic-box" src="/images/paper/paper-2.jpg" alt="">
                                <div class="txt-wrap">
                                    <p class="popular">人气：<strong class="highlight">183290</strong></p>
                                    <p class="type">手游</p>
                                    <a class="download-btn" href="#">下载</a>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--榜单  end-->

    <script type="text/javascript">

        window.onload = function(){
            var box = document.getElementById("inner");
            var h3 = box.getElementsByClassName("billboard-head-tab");
            var ul = box.getElementsByTagName("ul");
            var li = null;
            for (var i = 0; i < h3.length; i++) {
                hover(ul[i]);
                h3[i].index = i;
                h3[i].onmouseover = function () {
                    for (var j = 0; j < h3.length; j++) {
                        ul[j].style.display = "none";
                        removeClass(h3[j], "check");
                    }
                    ul[this.index].style.display = "block";
                    addClass(this, "check");
                }
            };
        }


        function hover(ul) {
            var li = ul.getElementsByTagName("li");
            
            for (var j = 0; j < li.length; j++) {
                li[j].onmouseover = function () {
                    for (var s = 0; s < li.length; s++) {
                        removeClass(li[s], 'hover');
                    }
                    addClass(this, "hover");
                }
            }
        }

        function hasClass(element, className) {
            if (!element) return;  
            var elementClassName = element.className;  
            if (elementClassName.length == 0) return false;  
            //用正则表达式判断多个class之间是否存在真正的class（前后空格的处理）  
            if (elementClassName == className || elementClassName.match(new RegExp("(^|\\s)" + className + "(\\s|$)")))  
              return true;  
            return false;
        }

        function addClass(obj, ele) {
            if (!hasClass(obj.ele)) {
                obj.className += ' ' + ele;
            }
        };

        function removeClass(obj, ele) {
            // 去除class；两边的空格
            var reg = new RegExp('(\\s+|^)' + ele + '(\\s+|$)');
            if (hasClass(obj, ele)) {
                obj.className = obj.className.replace(reg, '');
            }
        }
    </script>
</body>
</html>