<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>面向对象</title>
  <style>
    #div1 div {
      width: 200px;
      height: 200px;
      border: 1px solid #000;
      display: none;
    }

    .active {
      background: red;
    }

  </style>
</head>

<body>
  <div id="app">
    <div v-html="message"></div>
  </div>
  <!--  构造函数 -->
  <script>
    var Student = function(name, age, genter) {
      this.name = name;
      this.age = age;
      this.genter = genter;
    }

    Student.prototype.sayHello = function() {
      return "你好，我是" + this.name;
    }

    Student.prototype.study = function() {
      return "我正在学习";
    }

    var stu1 = new Student('zhangsan', 19, '男');
    // console.log(stu1)

    var stu2 = new Student('lisi', 20, '男');
    // console.log(stu2)

  </script>

  <!-- 使用原型创建DIV -->
  <script>
    Tag = function(tagName) {
      this.DOM = document.createElement(tagName);
    }

    Tag.prototype.extend = function(o) {
      console.log(o)
      for (var k in o) {
        this[k] = o[k];
      }
    }

    //创建A
    // new Tag("div").appendTo(document.body).css({
    //   width: '200px',
    //   height: '200px',
    //   border: '1px solid red',
    //   float: 'left'
    // }).setContent("<p>我是DIV</p>");

  </script>

  <script>
    // js面向对象
    // 工厂方式：封装函数
    function ceratePerson(name) {
      var obj = new Object();
      obj.name = name;
      obj.sayName = function() {
        console.log(this.name);
      }

      return obj;
    }

    var p1 = ceratePerson('Jill').sayName();
    var p2 = ceratePerson('vane');
    p2.sayName();


    // 系统对象
    var arr = new Array();
    var date = new Date();

    // 比较上面的工厂模式和系统对象的区别
    // 改成与系统对象类似的写法
    // -首字母大写
    // -new关键字提取
    // -this指向为新创建的对象

    // 当new去调用一个函数：这个时候函数中的this就是创建出来的对象，而且函数的返回值直接就是this（隐式返回）
    function CreatePerson(name) {
      this.name = name;
      this.sayName = function() {
        console.log(this.name)
      }
    }
    // new后面调用的函数佳作构造函数
    var p1 = new CreatePerson('Jill');
    p1.sayName();
    var p2 = new CreatePerson('vane');
    p2.sayName();

    console.log(p1.sayName == p2.sayHello);

  </script>

  <script>
    //  赋值
    var a = [1, 2, 3];
    var b = [1, 2, 3];
    console.log(a === b) //false

    // 基本类型：赋值的时候只是值的复制
    var c = 5;
    var d = c;
    d += 3;
    console.log(d); //8
    console.log(c); //5

    //对象类型：赋值不仅是值的复制，而且也是引用的传递
    var e = [1, 2, 3];
    var f = e;
    e.push(4);
    console.log(f); //1,2,3,4
    console.log(e); //1,2,3,4

    var g = [1, 2, 3];
    var h = e;
    h = [1, 2, 3, 4]; //（在内存当中重新生成地址）
    console.log(h);
    console.log(g);

    // 比较
    // 基本类型，值相同就可以
    var i = 5;
    var j = 5;
    console.log(i === j); //true

    // 对象类型： 之和引用都相同才行
    var k = [1, 2, 3];
    var l = [1, 2, 3];
    console.log(k === l); //false

    var m = [1, 2, 3];
    var n = m;
    console.log(m === n);

  </script>

  <script>
    // 原型
    // 原型：去改写对象下面的公用的方法或这属性，让公用的方法或者属性在内存中存在一份（提高性能）
    /*
    原型：css中的class
    普通方法：css中的style
    可见普通方法优先级高于原型
    */

    var arr = [1, 2, 3, 4, 5];
    var arr2 = [2, 2, 3, 3, 2];

    arr.sum = function() {
      var result = 0;
      for (var i = 0; i < this.length; i++) {
        result += this[i];
      }
      return result;
    }

    arr2.sum = function() {
      var result = 0;
      for (var i = 0; i < this.length; i++) {
        result += this[i];
      }
      return result;
    }

    console.log(arr.sum()); //15
    console.log(arr2.sum()); //12

    // 原型：prototype:要写在构造函数下面
    var arr3 = [1, 2, 3, 4, 5];
    var arr4 = [2, 2, 3, 3, 2];

    Array.prototype.sum = function() {
      var result = 0;
      for (var i = 0; i < this.length; i++) {
        result += this[i];
      }
      return result;
    }

    console.log(arr3.sum()); //调用方法同普通方法
    console.log(arr4.sum());

    //普通方法优先级高于原型
    var arr5 = [];
    arr5.number = 10; //普通方法
    Array.prototype.number = 20;
    console.log(arr5.number);

  </script>

  <script>
    // 工厂方式之原型

    function CreatePerson(name) {
      this.name = name;
    }

    CreatePerson.prototype.sayName = function() {
      alert(this.name);
    }

    var p1 = new CreatePerson('jill');
    var p2 = new CreatePerson('vane');

  </script>


  <script>
    // 面向对象的写法
    // function 构造函数() {
    //   对象.属性
    // }
    // 构造函数.原型.方法 = function() {};

    // // 使用
    // var 对象1 = new 构造函数();
    // 对象1.方法();

  </script>

  <div id="div1">
    <input class="active" type="button"value="1">
    <input type="button"value="2">
    <input type="button"value="3">
    <div style="display: block">111</div>
    <div>222</div>
    <div>333</div>
  </div>

  <script>
    window.onload = function() {
      oParent = document.getElementById('div1');
      aInput = oParent.getElementsByTagName('input');
      aDiv = oParent.getElementsByTagName('div');

      // init();

      function init() {
        for (var i = 0; i < aInput.length; i++) {
          aInput[i].index = i;
          aInput[i].onclick = change;
        }
      }

      function change() {
        for (var i = 0; i < aInput.length; i++) {
          aInput[i].className = '';
          aDiv[i].style.display = 'none';
        }
        this.className = "active";
        aDiv[this.index].style.display = 'block';
      }
    }

  </script>


</body>

</html>
